body {
    background-image: url("/images/background/futuristic-security-system-with-network-server-connection-generated-by-ai.jpg");
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
    background-size: cover;
    font-family: Verdana, sans-serif;
}
.fakeimg {
    height: 200px;
    background: #aaa;
}
#judul1 {
    text-align: center;
    font-weight: bold;
}
#judul2 {
    text-align: center;
}
#footer {
    text-align: center;
    font-weight: bold;
}